@import "tailwindcss";


:root {
  --foreground: #1a1a1a;
  --background: #f4f1ea;
}

@layer base {
  body {
    background-color: #f4f1ea;
    color: #1a1a1a;
    background-image: url('https://www.transparenttextures.com/patterns/cream-paper.png');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair), serif;
    font-weight: 700;
  }
}

.border-double-thick {
  border-style: double;
  border-width: 4px;
}

/* Loading Skeleton */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.skeleton-bar,
.skeleton-image {
  background: #e0ded9;
  /* Slightly darker than paper bg */
  background-image: linear-gradient(to right,
      #e0ded9 0%,
      #d1d0cb 20%,
      /* Shimmer color */
      #e0ded9 40%,
      #e0ded9 100%);
  background-repeat: no-repeat;
  background-size: 2000px 100%;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  border-radius: 2px;
}

.skeleton-image {
  background-color: #d1d0cb;
  /* Darker base for images */
}